<a href="https://colab.research.google.com/github/Zinwaiyan274/Movie-Rating-Analysis/blob/main/Movie_Rating_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import numpy as np
import pandas as pd
movies = pd.read_csv("movies.dat", delimiter='::')
movies.head()

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

,0000008,Edison Kinetoscopic Record of a Sneeze (1894),Documentary|Short
0,10,La sortie des usines Lumière (1895),Documentary|Short
1,12,The Arrival of a Train (1896),Documentary|Short
2,25,The Oxford and Cambridge University Boat Race ...,NaN
3,91,Le manoir du diable (1896),Short|Horror
4,131,Une nuit terrible (1896),Short|Comedy|Horror

In [10]:
movies.columns = ["ID", "Title", "Genre"]
movies.head()

    ID                                              Title                Genre
0   10                La sortie des usines Lumière (1895)    Documentary|Short
1   12                      The Arrival of a Train (1896)    Documentary|Short
2   25  The Oxford and Cambridge University Boat Race ...                  NaN
3   91                         Le manoir du diable (1896)         Short|Horror
4  131                           Une nuit terrible (1896)  Short|Comedy|Horror

In [13]:
ratings = pd.read_csv("ratings.dat", delimiter='::')
ratings.head()

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

   1  0114508    8    1381006850
0  2   499549  9.0  1.376753e+09
1  2  1305591  8.0  1.376743e+09
2  2  1428538  1.0  1.371307e+09
3  3    75314  1.0  1.595469e+09
4  3   102926  9.0  1.590148e+09

In [14]:
ratings.columns = ["User", "ID", "Ratings", "Timestamp"]
print(ratings.head())

   User       ID  Ratings     Timestamp
0     2   499549      9.0  1.376753e+09
1     2  1305591      8.0  1.376743e+09
2     2  1428538      1.0  1.371307e+09
3     3    75314      1.0  1.595469e+09
4     3   102926      9.0  1.590148e+09

In [15]:
data = pd.merge(movies, ratings, on=["ID", "ID"])
print(data.head())

    ID                       Title  \
0   91  Le manoir du diable (1896)
1  417   A Trip to the Moon (1902)
2  417   A Trip to the Moon (1902)
3  417   A Trip to the Moon (1902)
4  417   A Trip to the Moon (1902)

                                          Genre  User  Ratings     Timestamp
0                                  Short|Horror  5814      6.0  1.385233e+09
1  Short|Action|Adventure|Comedy|Fantasy|Sci-Fi  3600      9.0  1.474824e+09
2  Short|Action|Adventure|Comedy|Fantasy|Sci-Fi  4009      7.0  1.440606e+09
3  Short|Action|Adventure|Comedy|Fantasy|Sci-Fi  5009      9.0  1.456109e+09
4  Short|Action|Adventure|Comedy|Fantasy|Sci-Fi  7482      9.0  1.453823e+09

In [16]:
ratings = data["Ratings"].value_counts()
numbers = ratings.index
quantity = ratings.values
import plotly.express as px
fig = px.pie(data, values=quantity, names=numbers)
fig.show()

In [18]:
data2 = data.query("Ratings == 10")
data2["Title"].value_counts().head(10)

Joker (2019)                       418
Interstellar (2014)                387
Avengers: Endgame (2019)           243
1917 (2019)                        242
The Shawshank Redemption (1994)    197
Gravity (2013)                     180
Gisaengchung (2019)                152
The Wolf of Wall Street (2013)     150
Avengers: Infinity War (2018)      139
12 Angry Men (1957)                133
Name: Title, dtype: int64